.ticket {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial; 
}

.price {
  color: grey;
  font-size: 22px;
}

.image {
    padding-left: 300px;
}

.infoByImage {
    float:right;
    padding-right: 300px;
    font-size:60px;

}

.date {
    float:right;
    font-size:20px;
    padding-right: 400px;
   
}

.search {
    
}
